<!DOCTYPE html>
<html>
  <head>
    <title>Thefirstrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= link_to "home", root_path %>
    <% if user_signed_in? %>
        <p>Hi, <%= link_to current_user.email, users_show_path %></p>
        <%= link_to "login", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "sign in", new_user_session_path %>
        <%= link_to "user registration", new_user_registration_path %>
    <% end %>
  </body>
</html>
